.start-hero {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    /*max-width: 1200px;*/
    margin: 0 auto;
    background: url(/assets/img/fracaso.jpg) center center / cover no-repeat;
}
.start-card{
    background: unset;
}