/* -------------------------------------------------------
   HEADER
------------------------------------------------------- */

.header {
    /*position: sticky;*/
    top: 0;
    z-index: 1000;
    padding: var(--space-m) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .header-logo {
    width: clamp(80px, 50px + 5vw, 140px);
    height: auto;
  }
  
  .header.scrolled {
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(4px);
      padding: var(--space-s);
      justify-content: flex-start;
    }
  