/* -------------------------------------------------------
   INTERNAL PAGE TITLES
   (Used in: start, rooms, success, give-up)
   Not used in: home
------------------------------------------------------- */

.internal-title {
    color: #F0D080;
    font-size: 2rem;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    word-wrap: break-word;
    text-shadow: 5px 5px 0px rgba(255, 184, 7, 0.25);
    text-align: center;
    margin: 0 auto var(--space-l);
    text-transform: uppercase;
  }
  