.start-hero {
    background: url(/assets/img/room_2/salon_2.jpg) center center / cover no-repeat;
}
.start-card{
    background: unset;
}
.caras, .acciones{ 
    display: flex;
    gap: 20px;
}
.caras img{
    height: 140px;
}
.seleccion{
    filter: drop-shadow(4px 4px 4px rgba(255, 255, 255, 1));
}
#btn_pergamino{
    position: absolute;
    bottom: 100px;
    left: 46%;
}