.start-hero {
    background: url(/assets/img/room_3/salon_3.jpg) center center / cover no-repeat;
}
.start-card{
    background: unset;
}

/* Gólem aparece con zoom dramático */
.animate-golem {
    animation: golemIn 1.4s ease-out forwards;
  }
  
  @keyframes golemIn {
    0% {
      opacity: 0;
      transform: scale(0.3) rotate(-8deg);
      filter: blur(6px);
    }
    40% {
      opacity: 1;
      transform: scale(1.15) rotate(2deg);
      filter: blur(0);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  #reacciones {
    max-width: 320px; /* controla el ancho */
    margin: 0 auto;
  }
  
  #mensaje {
    font-size: clamp(0.9rem, 0.6rem + 1vw, 1.2rem); /* más pequeño */
    line-height: 1.3;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  #contenedorCaras{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .acciones{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-around;
  }
  