.light {
  background: url(/assets/img/room_1/salon_1_claro.jpg) center center / cover no-repeat;
}

.dark {
  background: url(/assets/img/room_1/salon_1_oscuro.jpg) center center / cover no-repeat;
}

.cristalOn {
  content: url(/assets/img/room_1/on.png);
}

.cristalOff {
  content: url(/assets/img/room_1/off.png);
}

.room1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.room1 div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 33.33%;
}

.room1 div:nth-child(6) {
  flex-direction: column;
}

.room1 div:nth-child(7) {
  align-items: flex-end;
}

body.cursor-key1,
body.cursor-key1 * {
  cursor: url("/assets/img/room_1/llave_1_128.png"), auto !important;
}

body.cursor-key2,
body.cursor-key2 * {
  cursor: url("/assets/img/room_1/llave_2_128.png"), auto !important;
}

body.cursor-key3,
body.cursor-key3 * {
  cursor: url("/assets/img/room_1/llave_3_128.png"), auto !important;
}
