body {
  background: unset;
}

/* Contenedor principal con imagen de fondo */
.start-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: url(/assets/img/entrada.jpg) center center / cover no-repeat;
}

/* Card superpuesto */
.start-card {
  max-width: 600px;
  background: rgba(202, 168, 116, 0.9);
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.start-card p {
  font-size: 24px;
  font-family: Lato, sans-serif;
  color: var(--black);
}

.start-logo {
  filter: drop-shadow(20px 20px 20px rgba(255, 255, 255, 1));
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  width: clamp(80px, 50px + 5vw, 90px);
  height: auto;
}

/* Control de visibilidad */
.show {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

/* Animaciones */
@keyframes zoomIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom {
  transform: scale(0);
  opacity: 0;
  animation: zoomIn 1s forwards;
}

@keyframes zoomOut {
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.animate-zoom-out {
  transform: scale(1);
  opacity: 1;
  animation: zoomOut 1s forwards;
}

/* Botón continuar */
.btn-start {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
